target/
.settings/
.project
.classpath
.DS_Store

*.zip
*.tar.gz
*~
!src/main/server/lib/detection_model.zip

Thumbs.db
build.sh
log/
temp/
/hs_err_pid23198.log
/webapps/
/testdb
/linux_signing_key.pub

*.iml
.idea
.fleet