<?xml version="1.0" encoding="utf-8"?>
<config>
	<serverip>127.0.0.1</serverip>
	<serverport>6554</serverport>
	<loop_nums>-1</loop_nums>
	<multicast>1</multicast>	
	<rtsp_over_http>1</rtsp_over_http>
	<http_port>80</http_port>
	<need_auth>0</need_auth>
	<user>
		<username>admin</username>
		<password>123456</password>
	</user>
	<user>
		<username>user</username>
		<password>123456</password>
	</user>
	<output>
		<url>screenlive</url>
		<video>
			<codec>H264</codec>
			<width></width>
			<height></height>
			<framerate></framerate>
		</video>
		<audio>
			<codec>G711U</codec>
			<samplerate>8000</samplerate>
			<channels>1</channels>
		</audio>
	</output>
	<output>
		<url></url>
		<video>
			<codec>H264</codec>
			<width></width>
			<height></height>
			<framerate></framerate>
		</video>
		<audio>
			<codec>G711U</codec>
			<samplerate></samplerate>
			<channels></channels>
		</audio>
	</output>
	<proxy>
		<suffix>test1</suffix>
		<url></url>
		<user></user>
		<pass></pass>
		<width>640</width>
		<height>480</height>
	</proxy>
	<backchannel>
		<codec>G711U</codec>
		<samplerate>8000</samplerate>
		<channels>1</channels>
	</backchannel>
</config>

