<assembly
	xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	<id>server</id>
	<formats>
		<format>tar.gz</format>
		<format>zip</format>
	</formats>
    <files>
        <file>
            <source>${project.build.directory}/red5-server-${project.version}-bootstrap.jar</source>
            <outputDirectory>/</outputDirectory>
            <destName>red5-server-bootstrap.jar</destName>
        </file>
        <file>
            <source>${project.build.directory}/red5-server-${project.version}.jar</source>
            <outputDirectory>/</outputDirectory>
            <destName>red5-server.jar</destName>
        </file>
    </files>	
	<fileSets>
		<fileSet>
			<directory>${project.basedir}</directory>
			<outputDirectory>/</outputDirectory>
			<includes>
				<include>license.txt</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.build.directory}/lib</directory>
			<outputDirectory>/lib</outputDirectory>
			<includes>
				<include>*.jar</include>
			</includes>
            <excludes>
                <exclude>jboss-servlet-api_3.0_spec-1.0.2.Final.jar</exclude>
                <exclude>antlr-2.7.7.jar</exclude>
                <exclude>hamcrest-core-1.1.jar</exclude>
                <exclude>junit-4.10.jar</exclude>
                <exclude>groboutils-core-5.jar</exclude>
            </excludes>
		</fileSet>
		<fileSet>
			<directory>${project.build.directory}/dependency</directory>
			<outputDirectory>/lib</outputDirectory>
			<includes>
				<include>*.jar</include>
			</includes>
			<excludes>
			    <exclude>jboss-servlet-api_3.0_spec-1.0.2.Final.jar</exclude>
                <exclude>antlr-2.7.7.jar</exclude>
                <exclude>hamcrest-core-1.1.jar</exclude>
                <exclude>junit-4.10.jar</exclude>
                <exclude>groboutils-core-5.jar</exclude>
			</excludes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server</directory>
			<outputDirectory>/</outputDirectory>
			<includes>
				<include>*.bat</include>
			</includes>
		</fileSet>
        <fileSet>
            <directory>${project.basedir}/src/main/server</directory>
            <outputDirectory>/</outputDirectory>
            <fileMode>0755</fileMode>
            <includes>
                <include>*.sh</include>
            </includes>
            <filtered>true</filtered>
        </fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/conf</directory>
			<outputDirectory>/conf</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
				<include>*.policy</include>
				<include>*.globals</include>
				<include>*.jmx</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/plugins</directory>
			<outputDirectory>/plugins</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
				<include>*.jar</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps</directory>
			<outputDirectory>/webapps</outputDirectory>
			<includes>
				<include>*.xml</include>
			</includes>
		</fileSet>
		<!-- ROOT -->
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/root</directory>
			<outputDirectory>/webapps/root</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.jsp</include>
				<include>*.html</include>
				<include>*.ico</include>
				<include>*.png</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/root/WEB-INF</directory>
			<outputDirectory>/webapps/root/WEB-INF</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
			</includes>
		</fileSet>
		<!-- Uncomment the next two file sets when creating a tarball / zip -->
		<!--
		<fileSet>
			<directory>../../../flash/trunk/deploy</directory>
			<outputDirectory>/webapps/root/demos</outputDirectory>
			<includes>
				<include>*.html</include>
				<include>*.xml</include>
				<include>*.js</include>
				<include>*.swf</include>
				<include>*.air</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>../../../flash/trunk/deploy/assets</directory>
			<outputDirectory>/webapps/root/demos/assets</outputDirectory>
			<includes>
				<include>*.js</include>
				<include>*.swf</include>
			</includes>
		</fileSet>
		-->
		<!-- Installer -->
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/installer</directory>
			<outputDirectory>/webapps/installer</outputDirectory>
			<includes>
				<include>*.html</include>
				<include>*.js</include>
				<include>*.swf</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/installer/WEB-INF</directory>
			<outputDirectory>/webapps/installer/WEB-INF</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/installer/history</directory>
			<outputDirectory>/webapps/installer/history</outputDirectory>
			<includes>
				<include>*.html</include>
				<include>*.js</include>
				<include>*.css</include>
			</includes>
		</fileSet>
		<!-- Live -->
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/live/WEB-INF</directory>
			<outputDirectory>/webapps/live/WEB-INF</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
			</includes>
		</fileSet>
		<!-- VOD -->
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/vod</directory>
			<outputDirectory>/webapps/vod</outputDirectory>
			<includes>
				<include>*.html</include>
				<include>*.js</include>
				<include>*.swf</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/vod/WEB-INF</directory>
			<outputDirectory>/webapps/vod/WEB-INF</outputDirectory>
			<includes>
				<include>*.xml</include>
				<include>*.properties</include>
			</includes>
		</fileSet>
		<fileSet>
			<directory>${project.basedir}/src/main/server/webapps/vod/streams</directory>
			<outputDirectory>/webapps/vod/streams</outputDirectory>
			<includes>
				<include>*.flv</include>
			</includes>
		</fileSet>
	</fileSets>
</assembly>