<?xml version="1.0" ?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>[%p] [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <File>log/red5.log</File>
        <Append>false</Append>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.scheduling" level="WARN" />
    <logger name="org.apache" level="INFO" />
    <logger name="org.apache.jasper.servlet" level="WARN" />
    <logger name="ch.qos" level="WARN" />
</configuration>
