<?xml version="1.0" encoding="utf-8"?>
<config>
	<server_ip>127.0.0.1</server_ip>
	<server_port>8080</server_port>
	<http_max_users>16</http_max_users>
	<https_enable>0</https_enable>
	<need_auth>0</need_auth>
	<log_enable>1</log_enable>
	<information>
		<Manufacturer>Happytimesoft</Manufacturer>
		<Model>IP Camera</Model>
		<FirmwareVersion>2.4</FirmwareVersion>
		<SerialNumber>123456</SerialNumber>
		<HardwareId>1.0</HardwareId>
	</information>
	<user>
		<username>admin</username>
		<password>admin</password>
		<userlevel>Administrator</userlevel>
	</user>
	<user>
		<username>test</username>
		<password>123456</password>
		<userlevel>User</userlevel>
	</user>		
	<profile>
		<video_source>
			<width>352</width>
			<height>640</height>
		</video_source>
		<video_encoder>
			<width>352</width>
			<height>640</height>
			<quality>4</quality>
			<session_timeout>10</session_timeout>			
			<framerate>25</framerate>
			<encoding_interval>50</encoding_interval>
			<bitrate_limit>2048</bitrate_limit>
			<encoding>H264</encoding>
			<h264>
				<gov_length>50</gov_length>
				<h264_profile>Main</h264_profile>
			</h264>
		</video_encoder>
		<audio_source></audio_source>
		<audio_encoder>
			<session_timeout>10</session_timeout>
			<sample_rate>8</sample_rate>
			<bitrate>64</bitrate>
			<encoding>G711</encoding>
		</audio_encoder>
		<stream_uri>rtsp://127.0.0.1:6554/test.flv</stream_uri>
	</profile>	
	<profile>
		<video_source>
			<width>1280</width>
			<height>720</height>
		</video_source>
		<video_encoder>
			<width>640</width>
			<height>480</height>
			<quality>4</quality>
			<session_timeout>10</session_timeout>			
			<framerate>25</framerate>
			<encoding_interval>50</encoding_interval>
			<bitrate_limit>2048</bitrate_limit>
			<encoding>H264</encoding>
			<h264>
				<gov_length>50</gov_length>
				<h264_profile>Main</h264_profile>
			</h264>
		</video_encoder>
		<audio_source></audio_source>
		<audio_encoder>
			<session_timeout>10</session_timeout>
			<sample_rate>8</sample_rate>
			<bitrate>64</bitrate>
			<encoding>G711</encoding>
		</audio_encoder>
		<stream_uri></stream_uri>
	</profile>
	<scope>onvif://www.onvif.org/Profile/Streaming</scope>
	<scope>onvif://www.onvif.org/location/country/china</scope>
	<scope>onvif://www.onvif.org/type/video_encoder</scope>
	<scope>onvif://www.onvif.org/name/IP-Camera</scope>
	<scope>onvif://www.onvif.org/hardware/HI3518C</scope>	
	<event>
		<renew_interval>60</renew_interval>	
		<simulate_enable>1</simulate_enable>
		<simulate_interval>30</simulate_interval>
	</event>		
</config>

